# Ejercicio 11 de la practica 2
#### Rodriguez Daniel Sebastian
##### Legajo 18896/6

Lo primero que creo, es una funcion que es capaz de eliminar los acentos del texto, para eso itero en un diccionario que contiene los caracteres a eliminar y los caracteres por los que debe ser modificado. **Esta parte es completamente opcional**, pero para analizar bien los nombres que se repiten decidi hacerlo

In [2]:
def sacar_acentos(texto):
    """Saco los acentos de los nombres para poder evaluarlos mejor cuando hago la comparacion entre los dos textos"""
    sacar = {'á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u'}
    for i in sacar:
        texto = texto.replace(i,sacar[i])
    return texto

Una vez que tengo la funcion capaz de eliminar los acentos, voy a definir esta funcion que lo que hace es abrir los archivos y adaptarlos para ingresarlos en listas mediante el siguiente codigo

In [10]:
def obtener_datos():
    """Obtengo los datos de los archivos y los guardo en variables, luego les borro su formato anterior y los ingreso a una lista en minusculas"""
    #Fase de lectura de archivos
    nombres_1 = open('nombres_1.txt', 'r').read()
    nombres_2 = open('nombres_2.txt', 'r').read()
    eval_1 = open('eval1.txt','r').read()
    eval_2 = open('eval2.txt','r').read()

    #Fase de modificacion de archivos
    nombres_1 = nombres_1.replace('\'','').replace('\n','').replace(' ','').lower()
    nombres_2 = nombres_2.replace('\'','').replace('\n','').replace(' ','').lower()

    eval_1 = eval_1.strip('\n ').split(',')
    eval_2 = eval_2.strip('\n ').split(',')
    
    nombres_1 = sacar_acentos(nombres_1)
    nombres_2 = sacar_acentos(nombres_2)
    
    nombres_1 = nombres_1.split(',')
    nombres_2 = nombres_2.split(',')

    return nombres_1,nombres_2,eval_1,eval_2

Esta porcion de codigo es capaz de crear una matriz de datos con los nombres de los alumnos, sus notas y el total de sus notas

In [4]:
def crear_tabla(nombres_1,eval_1,eval_2):
    """"Agrego todos los elementos de nombres_1, eval_1 y eval_2 a la tabla y la devuelvo en una variable tabla"""
    tabla = []
    for i in range(len(nombres_1)):
        actual = []
        actual.append(nombres_1[i].capitalize())
        actual.append(int(eval_1[i]))
        actual.append(int(eval_2[i]))
        actual.append(int(eval_1[i])+int(eval_2[i]))
        tabla.append(actual)
    return tabla

Esta funcion imprime los datos de la tabla con formato para que puedan ser leidos facilmente

In [5]:
def imprimir_datos(tabla):
    """Imprimo las listas dentro de la tabla con formato"""
    print(f'{"ID":>5} {"NOMBRE":<20} {"NOTA 1":<8} {"NOTA 2":<8} {"TOTAL":<8}')
    for i in range(len(tabla)):
        print(f'{i:>5} {tabla[i][0]:<20} {tabla[i][1]:<8} {tabla[i][2]:<8} {tabla[i][3]:<8}')

Esta funcion crea un conjunto de la interseccion de los nombres dentro de nombres_1 y nombres_2. Luego imprime ese conjunto

In [6]:
def imprimir_nombres_repetidos(nombres_1,nombres_2):
    """Hago un conjunto de la interseccion de nombres_1 y nombres_2 y los imprimo"""
    todos_los_nombres_repetidos = set(set(nombres_1) & set(nombres_2))
    for i in todos_los_nombres_repetidos:
        print(f'{i.capitalize()} esta en nombres_1 y nombres_2')
    print('='*50)

En esta porcion de codigo **obtiene todo lo que necesito** para imprimir los nombres repetidos y la tabla de nombres

In [13]:
nombres_1,nombres_2,eval1,eval2 = obtener_datos()

### Imprimo los nombres repetidos

In [14]:
imprimir_nombres_repetidos(nombres_1,nombres_2)

Bautista esta en nombres_1 y nombres_2
Agustin esta en nombres_1 y nombres_2
Yanina esta en nombres_1 y nombres_2
Marcos esta en nombres_1 y nombres_2
Facundo esta en nombres_1 y nombres_2
Jose esta en nombres_1 y nombres_2
Tomas esta en nombres_1 y nombres_2
Eliana esta en nombres_1 y nombres_2
Ignacio esta en nombres_1 y nombres_2
Ulises esta en nombres_1 y nombres_2
Nicolas esta en nombres_1 y nombres_2
Mateo esta en nombres_1 y nombres_2
Diego esta en nombres_1 y nombres_2
Lautaro esta en nombres_1 y nombres_2
Federico esta en nombres_1 y nombres_2
Matias esta en nombres_1 y nombres_2
Cesar esta en nombres_1 y nombres_2
Juan esta en nombres_1 y nombres_2
==================================================

### En esta parte voy a imprimir la tabla de alumnos junto a sus notas

In [11]:
tabla = crear_tabla(nombres_1,eval1,eval2)
imprimir_datos(tabla)

   ID NOMBRE               NOTA 1   NOTA 2   TOTAL
    0 Agustin              81       30       111
    1 Alan                 60       95       155
    2 Andres               72       28       100
    3 Ariadna              24       84       108
    4 Bautista             15       84       99
    5 Carolina             91       43       134
    6 Cesar                12       66       78
    7 David                70       51       121
    8 Diego                29       4        33
    9 Dolores              42       11       53
   10 Dylan                16       58       74
   11 Eliana               3        10       13
   12 Emanuel              35       13       48
   13 Fabian               67       34       101
   14 Facundo              10       96       106
   15 Facundo              57       71       128
   16 Federico             11       86       97
   17 Federico             69       37       106
   18 Gonzalo              12       64       76
   19 Gregorio             77       13       90
   20 Ignacio              13       8        21
   21 Jonathan             86       87       173
   22 Jonathan             48       14       62
   23 Jorge                65       14       79
   24 Jose                 51       49       100
   25 Juan                 41       27       68
   26 Juan                 87       55       142
   27 Juan                 43       69       112
   28 Julian               10       77       87
   29 Julieta              87       59       146
   30 Lautaro              91       57       148
   31 Leonel               15       40       55
   32 Luis                 44       96       140
   33 Luis                 85       24       109
   34 Marcos               73       30       103
   35 Maria                37       73       110
   36 Mateo                42       95       137
   37 Matias               95       19       114
   38 Nicolas              18       47       65
   39 Nicolas              7        15       22
   40 Noelia               74       31       105
   41 Pablo                60       39       99
   42 Priscila             9        15       24
   43 Tomas                65       74       139
   44 Tomas                93       33       126
   45 Ulises               63       57       120
   46 Yanina               74       10       84